
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<a href="/" class="pull-left"><img src="https://github.com/callstack/callstack.github.io/blob/master/assets/images/logo/CallstackSolutionsLogo.png?raw=true"></a>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:callstacksolutions@gmail.com">email</a></li>
			</ul>
			</footer>
		</body>
	</html>
